body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: bisque;
    color: black;
    font-family: Tahoma;
    font-size: 16px;
}

label{
    display: block;
    margin: 0.5rem 0;
}

h1,p{
    margin: 1em auto;
    text-align: center;
}

form{
    max-width: 500px;
    min-width: 300px;
    width: 60vw;
    margin:0 auto;
    padding: 2em;
}

fieldset{
    border: none;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 0;
    padding-right: 0;
    border-bottom: 3px solid #3b3b4f;
}

fieldset:last-of-type{
    border-bottom: none;
  }

input,textarea,select{
    margin-top: 10px;
    width: 100%;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    color: #000000;
    min-height: 2em;
}

input, textarea{
    background-color: #c9923f;
    border: 1px solid #c9923f;
    color: #ffffff;
  }

.inline{
    width: unset;
    margin-right: 0.5em;
    margin-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: middle;
}

input[type="submit"]{
    display:block;
    width:60%;
    min-width: 360px;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
    margin: 0 auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #c9923f;
    border-color: black;
  }

input[type="file"]{
    padding: 1px 2px;
  }

a{
    color: #dfdfe2;
}